<% provide(:title, "About")%>

<!-- ======= About This App ======== --!>
<div class="about-section">
    <div class="section-title">
      <h2>The App</h2>
      <h3>Our <span>App</span></h3>
      <p class="left">EdTok aims to spread more knowledge in the form of short videos, helping users to utilize their leisure time to gain some interesting things through enjoyable ways.</p>
      <p class= "left">Users can follow any other users on the platform, find who has followed them and who they are following.</p>
      <p class= "left">Users share their work or expertise by uploading videos to the app and others can find it, respond (similar to a like button) to it if they like it, or make a comment on it.</p>    
    </div>
</div>

<!-- OLD VERSION FOR TEAM INTRO
<h1 style="text-align:center">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <p class='aligncenter'>
        <%= image_tag "about_us/Jingnu.jpeg", :size => "180x200" %>
      </p>
      <div class="container">
        <h2>Jingnu An</h2>
        <p class="title">UI designer && API searcher</p>
        <p>Hi! I am a rising software engineer currently studying computer science. I've been an avid programmer since my senior year of undergraduate study. I first started by programming in R that would allow me to do statistical analysis in educational research, and my love of the potential applications of programming has been growing ever since. </p>
        <p>She is passionate about empowering girls to join in the science and technology field and is looking forward to using her programming skills to help forward and advocate for the responsible use and development of technology.</p>
        <p><a class="button" href="mailto:jingnuan@brandeis.edu">Contact Jingnu</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag "about_us/Jenna.JPG", :size => "180x200"%>
      <div class="container">
        <h2>Jenna Blank</h2>
        <p class="title">Data Manager</p>
        <p>Jenna recently earned her BS in Mathematics with a minor in Computer Science from the University of Vermont in May 2020. She’s currently working towards her MS in Computer Science at Brandeis University. Moving forward, she hopes to learn more about Software Engineering with a special interest in its humanitarian aspects and computing for social good.</p>
        <p><a class="button" href="mailto:jennablank@brandeis.edu">Contact Jenna</a></p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag "about_us/Wei.jpeg", :size => "180x200" %>
        <div class="container">
        <h2>Wei Liu</h2>
        <p class="title">Collaborator</p>
        <p>After finishing my undergrad in Biotechnology, I started my road to Computer Science as a master student one year ago. Now I’m working on a research project aiming to predict the mutation tend of SARS-CoV-2. Beside I also interest in software engineering and am seeking an internship in summer to see how to make a real product in industry.</p>
        <p><a class="button" href="mailto:weiliu@brandeis.edu">Contact Wei</a></p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag "about_us/Robin.JPG", :size => "180x200" %>
        <div class="container">
        <h2>Guobin Chen</h2>
        <p class="title">Collaborator</p>
        <p>Guobin was majored in Biochemistry during his undergraduate period, and at time his research topic was synthesis of nanoparticles for drug delivery especially for chemotherapy drugs.</p>
        <p>Right now, Guobin is a master student in the Computer Science department at Brandeis. He is interested in applying computer vision tech into medical image processing.</p>
        <p><a class="button"href="mailto:guobinchen@brandeis.edu">Contact Guobin</a></p>
      </div>
    </div>
  </div>
</div>

--!>

<!-- ======= Team Section ======= -->

<section id="team" class="team">
  <div class="container">

    <div class="section-title">
      <h2>Team</h2>
      <h3>Our <span>Team</span></h3>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <%= image_tag "about_us/Jingnu.jpeg", :size => "260x330" ,  :class => "img-fluid" %>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Jingnu An</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <%= image_tag "about_us/Jenna.JPG", :size => "260x330" ,  :class => "img-fluid" %>
            
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Jenna Blank</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <%= image_tag "about_us/Wei.jpeg", :size => "260x330" ,  :class => "img-fluid" %>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Wei Liu</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <%= image_tag "about_us/Robin.JPG", :size => "260x330",  :class => "img-fluid" %>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Guobin Chen</h4>
            <span></span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Team Section -->