<% provide(:title, "Explore") %>
<%= stylesheet_link_tag 'explore' %>
<%= javascript_pack_tag "explore" %> 



<h1> Explore Videos </h1>

<!-- HTML -->

<body>



<div class="sidebar">
    
    <br>
    <br>
    <%= form_with url: search_path, method: :get, remote: true do |f|%>
        <%= f.label :Search_by_video_name %>
        <%= f.text_field :name, placeholder: 'Search' %>
        <%= f.submit 'search'%>
    <% end %>

    <br>
    <br>

    
   <div class="dropdown">
		<button onclick='myClick()' class="dropbtn">Dropdown</button>
		<div id="myDropdown" class="dropdown-content">
			<a><%= link_to "Science", Video %></a>
			<a><%= link_to "Comic", Video %></a>
			<a><%= link_to "Others`", Video %></a>
		</div>
	</div>


</div>

<div class="body-text">
<!-- body content -->
<%= button_to "show videos", videos_path, :method => "get" %>

<%= render partial: "shared/flash" %>

<% if !@display_src.blank? %>
    <video controls width="320" height="160" src="<%= @display_src %>"></video>
<% end %>
</div>


</body>