<% provide(:title, "Log in") %>
<h1>Log in</h1>



<%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    
    <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email%>
    </div>

    <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div class="actions">
        <%= f.submit "Log in" %>
    </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
