<p id="notice"><%= notice %></p>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<!--
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
-->