<p id="notice"><%= notice %></p>


<div class="profile-head">

  <div class="profile-img">
    <%= gravatar_for @user %>
  </div>

  <h3 id="username">
    <%= @user.username %>
  </h3>

  <!--
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  -->

  <div id="stats">
    <p>
      <strong>Followers:</strong>
      <%= current_user.followers.count %>
    </p>

    <p>
      <strong>Following:</strong>
      <%= current_user.following.count %>
    </p>

    <p>
      <strong>Likes:</strong>
      <%= Like.where(liked_by: current_user.id).count %>
    </p>
  </div>

  <div id="follow">
    <button>Follow</button>
  </div>

  <p>
    <!--<strong>Bio:</strong>-->
    <%= @user.bio %>
  </p>
  
</div>


<div id="profile-body">
  <div id="videos">

    <div class="profile-thumbnail first">
      <p>Upload</p>
    </div>

    <% @user.videos.each do |video| %>
      <div class="profile-thumbnail">
        <p><%= video.name %></p>
      </div>
    <% end %>

  </div>
</div>

<!--
<div class="container">
  <div class="row">

    <div class="col">
      <div class="profile-thumbnail first">
        <p>Upload</p>
      </div>
    </div>

    <% @user.videos.each do |video| %>
      <div class="col">
        <div class="profile-thumbnail">
          <p><%= video.name %></p>
        </div>  
      </div>
    <% end %>

  </div>
</div>
-->




