<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :text, id: :comment_text, placeholder: "Enter your comments", class: "form-control" %>

  </div>
   
    <h1><%= @comment.id %></h1>
  <div class="actions">
    <%= form.submit 'Add comment', params: {id_for_follow: @video.id}, class: "btn btn-success"%>
    
  </div>
<% end %>