
<header class="navbar navbar-inverses">
      <div class="container">
         <%= link_to image_tag("edtok_logo.png", alt: "home_bg.png", width: "134.8", height: "38"), '#', id: "logo" %>
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Explore", explore_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Story", behind_the_scene_path %></li>
            
            <% if logged_in? %>
              <li><%= link_to "Profile", profile_path %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
              <button class="btn navbar-btn" ><%= link_to "Sign Up", login_path %></button>
            <% end %>
          </ul>
        </nav>
     </div>
</header>
