<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "EdTok", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   home_path %></li>
            <li><%= link_to "Videos",   '#' %></li>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Log in",   '#' %></li>
            <li><%= link_to "Sign up!", signup_path %></li>
          </ul>
        </nav>
     </div>
</header>