<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "EdTok", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   home_path %></li>
            <li><%= link_to "Video",   '#' %></li>
            <li><%= link_to "Introduction",   '#' %></li>
            <li><%= link_to "Team",   '#' %></li>
            <li><%= link_to "Sign in/up", '#' %></li>
          </ul>
        </nav>
     </div>
</header>